#header {
    display: flex;
    justify-content: end;
    align-items: center;
}
#header * {
    font-size: initial;
    margin: 2px 5px;
}
#header button {
    font-size: small;
    color: black;
    border-color: black;
    padding: 4px 8px;
}