mixin titleBar(title)
    h2#title.card= title
    if epNum
        h2#episode-number.card= epNum


doctype html
html
    head
        title TOMbot
        style
            block style
                    include app.css
                    include header.css
        script
            block script
    body
        div#header
            div#nav.container
                if username
                    form(action="/titles").grouped
                        button#nav-title(type="submit") Title Suggestions
                    form(action="/twsf").grouped
                        button#nav-twsf(type="submit") TWSF
                    form(action="/launches").grouped
                        button#nav-launches(type="submit") Launches
                    form(action="/manage").grouped
                        button#nav-manage(type="submit") Database
            div#login.container
                if username
                    b #{username}
                    form(action="/logout" method="post")
                        button(type="submit") Log out
                else
                    b Guest
                    form(action="/login")
                        button(type="submit") Log in
        div#title-bar
            block title-bar
                
        div#content
            block content
