/* -------------------- *\
   HEADER NAV HIGHLIGHT
\* -------------------- */
#nav-manage {
    background-color: var(--primary-light);
    box-shadow: inset 0 0 9px var(--primary-dark);
    color: white !important;
}

/* ---------------- *\
   TITLE BAR SQUISH
\* ---------------- */
#header { margin: 0; }

/* --------------- *\
   SCROLL OVERRIDE
\* --------------- */

/* Elements on this page will handle their own scrolling */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    /* Take up remaining space after header and title */
    height: 1px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* -------------------- *\
   TITLE BAR > CONTROLS
\* -------------------- */
#controls { display: flex; }
#controls > * { height: 35px; }

#table {
    width: 425px;
    margin: 4px;
}
#table label { font-weight: bold; }

#records-per-page { width: 60px; }

#undo {
    aspect-ratio: 1/1;
    padding: 0;
    animation: 0.1s;
}
#undo:not(.disabled):hover { background-color: var(--primary); }

#undo.disabled {
    cursor: default;
    border-color: transparent;
    background-color: transparent;
}

#undo svg {
    height: 100%;
    color: var(--primary-dark);
    fill: var(--primary-dark);
}

#undo.disabled svg {
    color: grey;
    fill: grey;
}

#undo:not(.disabled):hover svg {
    color: black;
    fill: black;
}

/* --------------- *\
   DATA TABLE CARD
\* --------------- */
.center-container {
    /* Take up remaining space above pagination */
    height: 1px;
    flex-grow: 1;

    /* data-table will shrink horizontally to fit content */
    display: flex;
    justify-content: center;
}

#data-table {
    --row-height: 20px;

    width: fit-content;
    overflow-y: scroll;
}

/* Each record row */
#data-table .rolodex {
    min-height: calc(var(--row-height) * 3);
    display: grid;
    grid-template-columns: 180px 3fr 1fr;
    grid-auto-rows: calc(var(--row-height) * 3);
    align-items: center;
    transition: background-color 0.1s;
}
#data-table .rolodex:nth-of-type(even) { background-color: #fff0f0; }
#data-table .rolodex:hover { background-color: #a9c2f1; }

/* Callsign box */
#data-table .rolodex .callsign p {
    text-align: center;
    align-self: center;
    margin: 1px 3px;
    border-radius: 4px;
    transition: 0.1s;
}

#data-table .rolodex:hover .callsign [contenteditable] {
    background-color: white;
}

/* Socials box */
#data-table .socials {
    display: grid;
    grid-auto-rows: var(--row-height);
}

#data-table .social-divider {
    /* sits between username and displayname */
    border-left: 1px dotted black;
    height: 100%;
}

/* Each social */
#data-table .socials :is(.discord, .twitter, .email) {
    border-left: 2px solid black;
    border-right: 2px solid black;
    display: grid;

    /*                     icon          uname divider dname */
    grid-template-columns: var(--row-height) 1fr 1px 1fr;
    grid-auto-flow: column;
    align-items: center;
}

#data-table .socials :is(.discord, .twitter, .email):not(:last-of-type) {
    /* Add dividers between username and screenname */
    border-bottom: 1px dotted black;
}

/* Socials -- icons */
#data-table .socials .icon {
    height: var(--row-height);
    width: var(--row-height);
    background-size: 66%;
    background-repeat: no-repeat;
    background-position: center;
    filter: opacity(0.3);
}
#data-table .discord .icon { background-image: url("/icons/discord.svg"); }
#data-table .twitter .icon { background-image: url("/icons/twitter.svg"); }
#data-table .email .icon { background-image: url("/icons/envelope-paper.svg"); }

/* Socials -- text */
#data-table .socials :is(.username, .display-name) {
    flex-basis: 50%;
    padding: 0 15px;
    font-size: calc(var(--row-height) * 0.7);
}

#data-table .socials .username { text-decoration: underline; }

/* Info card notes text area */
#data-table .notes {
    margin: 2px 3px;
    background: transparent;
    border: none;
    resize: none;
    scrollbar-width: narrow;
    border-radius: 4px;
}

#data-table .rolodex:hover .notes {
    background-color: white;
}

/* ---------- *\
   PAGINATION
\* ---------- */

/* container */
#pagination {
    height: 30px;
    width: 100%;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* buttons */
#pagination .pagination-button {
    height: 100%;
    padding: 0 5px;
    animation: 0.1s;
}
#pagination .pagination-button:hover { background-color: var(--primary); }

#pagination svg { /* stylelint-disable no-descending-specificity */
    height: 100%;
    margin: 0 -5px; /* double arrows sit closer to each other */
    fill: var(--primary-dark);
}
#pagination .pagination-button:hover svg { fill: black; }

/* text */
#pagination .pagination-text { font-size: 25px; }

#page-curr {
    width: 50px;
    text-align: right;
    border-radius: 4px;
    transition: 0.1s;
    cursor: text;
}
#page-curr:hover:not(:focus) { background-color: var(--primary-light); }

#page-divide {
    text-align: center;
    width: 20px;
}

#page-total {
    width: 50px;
    text-align: left;
}
