/* ----------- *\
   MERGE MODAL
\* ----------- */
#merge {
    position: absolute;
    height: 70vh;
    width: 70vw;
    top: 15vh; /* 100-70 = 30 */
    left: 15vw;
    box-shadow: 2px 2px 15px 1px black;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#merge h2 {
    width: 100%;
    margin: 0;
    padding: 7px 0;
    text-align: center;
    background-color: var(--primary-dark);
    color: white;
}

#merge .input {
    margin: 10px;
    width: 100%;
    grid-template-columns: 50% 50%;
    display: grid;
    gap: 0 10px;
    align-items: center;
}

#merge label {
    white-space: pre-wrap;
    justify-self: right;
}
#merge label[for="author-keep"]::after { content: " (overwriting)"; }
#merge label[for="author-delete"]::after { content: " (overwritten)"; }

#merge input {
    text-align: center;
    grid-column: 2;
    width: 100px;
    justify-self: left;
}

#merge button { grid-column: 1/3; } /* stylelint-disable-line no-descending-specificity */

#merge-rolodex-container { overflow: hidden; }
#merge-rolodex-container .rolodex:hover { background-color: inherit; }



/* ---------------- *\
   EACH AUTHOR CARD
\* ---------------- */
/* stylelint-disable no-descending-specificity */
.rolodex {
    min-height: calc(var(--row-height) * 4);
    display: grid;
    grid-template-columns: 180px 3fr 1fr;
    grid-auto-rows: calc(var(--row-height) * 4);
    align-items: center;
    transition: background-color 0.1s;
}
#data-table .rolodex:nth-of-type(even) { background-color: var(--secondary-ultralight); }
.rolodex:hover { background-color: var(--primary-ultralight); }
/* stylelint-enable no-descending-specificity */

/* Callsign box */
.rolodex .callsign-container {
    /* Allow absolute positioning of edit icon */
    position: relative;
}

.rolodex .callsign-container > p {
    text-align: center;
    align-self: center;
    margin: 1px 3px;
    border-radius: 4px;
    transition: 0.1s;
}

.rolodex:hover .callsign-container [contenteditable] {
    background-color: white;
}

.rolodex .callsign-container .edit-icon {
    visibility: hidden;
    position: absolute;
    height: var(--row-height);
    width: var(--row-height);
    left: 5px;
    top: -5px;
    background-image: url("/icons/menu-up.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.rolodex .callsign-container .edit-icon:hover { background-color: var(--primary-dark); }
.rolodex:hover .callsign-container .edit-icon { visibility: visible; }

/* Socials box */
.rolodex .socials {
    display: grid;
    grid-auto-rows: var(--row-height);
}

.rolodex .social-divider {
    /* sits between username and displayname */
    border-left: 1px dotted black;
    height: 100%;
}

/* Each social */
.rolodex .socials .social-container {
    border-left: 2px solid black;
    border-right: 2px solid black;
    display: grid;

    /*                     icon          uname divider dname */
    grid-template-columns: var(--row-height) 1fr 1px 1fr;
    grid-auto-flow: column;
    align-items: center;
}

.rolodex .socials .social-container:not(:last-of-type) {
    /* Add dividers between username and screenname */
    border-bottom: 1px dotted black;
}

/* Socials -- icons */
.rolodex .socials .icon {
    height: var(--row-height);
    width: var(--row-height);
    background-size: 66%;
    background-repeat: no-repeat;
    background-position: center;
    filter: opacity(0.3);
}
.rolodex .discord .icon { background-image: url("/icons/discord.svg"); }
.rolodex .twitter .icon { background-image: url("/icons/twitter.svg"); }
.rolodex .mastodon .icon { background-image: url("/icons/mastodon.svg"); }
.rolodex .email .icon { background-image: url("/icons/envelope-paper.svg"); }

/* Socials -- text */
.rolodex .socials :is(.username, .display-name) {
    flex-basis: 50%;
    padding: 0 15px;
    font-size: calc(var(--row-height) * 0.7);
}

.rolodex .socials .username { text-decoration: underline; }

/* Info card notes text area */
.rolodex .notes {
    margin: 2px 3px;
    background: transparent;
    border: none;
    resize: none;
    scrollbar-width: narrow;
    border-radius: 4px;
}

.rolodex:hover .notes {
    background-color: white;
}