/* -------------------- *\
   HEADER NAV HIGHLIGHT
\* -------------------- */
#nav-manage {
    background-color: var(--primary-light);
    box-shadow: inset 0 0 9px var(--primary-dark);
    color: white !important;
}

/* ---------------- *\
   TITLE BAR SQUISH
\* ---------------- */
#header {
    margin: 0;
}

/* --------------- *\
   SCROLL OVERRIDE
\* --------------- */

/* Elements on this page will handle their own scrolling */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    /* Take up remaining space after header and title */
    height: 1px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* -------------------- *\
   TITLE BAR & CONTROLS
\* -------------------- */
#title-bar {
    justify-content: center;
}

#title {
    margin: 0;
}

#controls {
    display: flex;
    align-items: center;
}

#controls>* {
    height: 35px;
}

#table-selector {
    width: 300px;
    height: 50px;
    margin: 4px;
}

#table-selector label {
    font-weight: bold;
}

#records-per-page {
    width: 60px;
}

#controls button {
    aspect-ratio: 1/1;
    padding: 0;
    animation: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls button:not(.disabled):hover {
    background-color: var(--primary-light);
}

#controls button.disabled {
    cursor: default;
    border-color: transparent;
    background-color: transparent;
}

#controls button svg {
    height: 80%;
    color: var(--primary-dark);
    fill: var(--primary-dark);
}

#controls button.disabled svg {
    color: grey;
    fill: grey;
}

#controls button:not(.disabled):hover svg {
    color: black;
    fill: black;
}

#search-button.active {
    background-color: var(--secondary-light);
}

#controls .bookmark-for-expandable {
    width: 0;
}

#search-input {
    position: relative;
    height: 36px;
    max-width: 200px;
    left: 4px;
    margin: 0;
    transition: 0.2s;
    z-index: 1;
    box-shadow: 0 0 5px black;
}

#search-input:not(.expanded) {
    max-width: 0;
    left: 0;
    padding: 0;
    border-width: 0;
    box-shadow: 0 0 5px transparent;
}

/* --------------- *\
   DATA TABLE CARD
\* --------------- */
.center-container {
    /* Take up remaining space above pagination */
    height: 1px;
    flex-grow: 1;

    /* data-table-selector will shrink horizontally to fit content */
    display: flex;
    justify-content: center;

    width: fit-content;
    align-self: center;
}

#data-table,
#merge-rolodex-container {
    --row-height: 20px;

    width: fit-content;
    overflow-y: scroll;

    /* Hack in overflow-x:visible to allow guess card overhang */
    overflow-x: hidden;
    margin: 0 -10px;
    padding: 0 10px;
}



/* ---------- *\
   PAGINATION
\* ---------- */

/* container */
#pagination {
    height: 30px;
    width: 100%;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* buttons */
#pagination .pagination-button {
    height: 100%;
    padding: 0 5px;
    animation: 0.1s;
}

#pagination .pagination-button:hover {
    background-color: var(--primary);
}

#pagination svg {
    /* stylelint-disable-line no-descending-specificity */
    height: 100%;
    margin: 0 -5px;
    /* double arrows sit closer to each other */
    fill: var(--primary-dark);
}

#pagination .pagination-button:hover svg {
    fill: black;
}

/* stylelint-disable-line no-descending-specificity */

/* text */
#pagination .pagination-text {
    font-size: 25px;
}

#page-curr {
    width: 50px;
    text-align: right;
    border-radius: 4px;
    transition: 0.1s;
    cursor: text;
}

#page-curr:hover:not(:focus) {
    background-color: var(--primary-light);
}

#page-divide {
    text-align: center;
    width: 20px;
}

#page-total {
    width: 50px;
    text-align: left;
}