doctype html
html
    head
        title TOMbot
    body
        p Hello monitor!
        table#suggestions
            tr
                th Author
                th Suggestion
                th Votes
        script
            include monitor.js
