h2.card {
    text-align: center;
    padding: 10px;
    
    width: fit-content;
    margin-left: 10%;
}

/*---------------*\
  SUGGESTION GRID
\*---------------*/
/* grid container */
.suggestions {
    padding-bottom: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                0 1px 2px rgba(0,0,0,0.24);
}
/* grid rows */
#headers, .row-container {
    display: grid;
    grid-column: 1/12;
    column-count: 4;
    grid-template-columns: repeat(11, minmax(0,1fr));
}
.row-container:hover {
    background-color: aliceblue;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                0 1px 2px rgba(0,0,0,0.24);
}
/* row deletion */
.row-container {
    max-height: 100px;
    transition: max-height .5s, transform .75s;
}
.row-container.deleted {
    transform: rotatex(90deg);
    max-height: 0px;
}
/* all columns */
#headers > h3, .row-container > * {
    height: 100%;
    margin: 0;
    align-content: center;
    padding: 3px 10px;
}
/* individual columns */
.author {
    grid-column: 1/4;
    justify-self: right;
}
.suggestion {
    grid-column: 4/10;
    position: relative;
}
.suggestion:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: -4px 0 1px -3px rgba(0,0,0,0.12),
                 4px 0 2px -3px rgba(0,0,0,0.12),
                 4px 0 1px -3px rgba(0,0,0,0.24);
}
.votes {
    grid-column: 10/11;
    justify-self: center;
}
.suggestion-delete {
    grid-column: 11/12;
    border: none;
    border-radius: 100%;
    height: 80%;
    aspect-ratio: 1/1;
    background-image: url("/icons/x-circle.svg");
    background-size: contain;
}
.suggestion-delete:hover {
    background-color: #d9d9d9;
    box-shadow: 0.5px 1px;
}


/*--------*\
  CONTROLS
\*--------*/
#controls.card {
    display: flex;
    justify-content: center;
}
button.depressed {
    color: white;
    background-color: var(--primary-light);
    box-shadow: inset 0 0 9px var(--primary-dark);
}

/*----------------*\
  SUGGESTION MODAL
\*----------------*/
#add-suggestion-modal {
    position: absolute;
    top: 25%;
    left: 50%;
    box-shadow: 0 0 60px 30px #7a9995;
}
