doctype html
html
    head
        title TOMbot
        style
            include app.css
            include header.css
            include monitor.css
    body
        include header
        h2.card Current Suggestions
        div.suggestions.card
            div#headers
                h3.author Author
                h3.suggestion Suggestion
                h3.votes Votes
            div#suggestions
                //- div.row-container
                    //- p.author
                    //- p.suggestion
                    //- p.votes
                    //- button.suggestion-delete
        div#controls.card
            button#autoUpdate(onclick="autoUpdate()") Auto-update
            button(onclick="addSuggestion()") Add Suggestion
            button(onclick="callVote()") Call Vote
        script
            include monitor.js
