/* -------------------- *\
   HEADER NAV HIGHLIGHT
\* -------------------- */
#nav-twsf {
    background-color: var(--primary-light);
    box-shadow: inset 0 0 9px var(--primary-dark);
    color: white !important;
}

/* ------------------- *\
   TITLE BAR > filters
\* ------------------- */
#filter { width: 200px; }
#filter label { font-weight: bold; }

/* ------------ *\
   GUESSES CARD
\* ------------ */
#guesses { margin: 8px 50px; }
#guesses:empty { min-height: 150px; }

/* Each guess row */
#guesses .row-container {
    display: grid;
    grid-template-columns: [info] min-content [text];
    align-items: center;
}

#guesses .row-container:not(:last-of-type) {
    /* Apply a card-like inset shadow to each row */
    box-shadow:
        inset 0 -3px 3px -3px rgb(0 0 0 / 12%),
        inset 0 -3px 2px -3px rgb(0 0 0 / 24%);
}

#guesses .row-container:hover {
    background-color: aliceblue;
}

/* INFO BOX */
#guesses .info {
    grid-area: info;
    position: relative;
    left: -10px;
    height: 60px;
    width: min-content;
    border: 1px solid var(--primary-light);
    background-color: white;
    display: grid;
    grid-template:
        "call   link" auto
        "points link" auto
        / min-content 60px;
}

/* INFO BOX -- Link buttons */
#guesses .link {
    grid-area: link;
    background-repeat: no-repeat;
    background-size: 80%, 40%;
    background-position: center;
    border-radius: 0 2px 2px 0; /* Round right corners */

    /* Most of these will be akchul links and will blend with points */
    transition: 0.2s;
    background-color: var(--primary-light);
    cursor: pointer;
}
#guesses .link:hover { background-color: var(--primary-dark); }

#guesses .link.tweet { background-image: url("/icons/twitter.svg"); }

#guesses .link.twitter-dm {
    background-image: url("/icons/envelope-paper.svg"), url("/icons/twitter.svg");
    background-position: center, 50% 22%;
}

#guesses .link.discord { background-image: url("/icons/discord.svg"); }

#guesses .link.email {
    /* Not linked: blend with callsign */
    background-image: url("/icons/envelope-paper.svg");
    background-color: white;
    cursor: default;
}
#guesses .link.email:hover { background-color: white; } /* Don't hover-highlight */

/* INFO BOX -- callsign */
#guesses .callsign {
    grid-area: call;
    margin: 0;
    text-align: center;

    /* If link is clickable, we'll cast a shadow from points and link.
    This is a weird invert from the .card styling: a negative spread allows us
    to push the top and right sides out of view. First, X and Y are inverted so
    that the shadow is upside-down, then -1px is added to X, Y and spread.
    Originally, these were "0 1 3 (0)" and "0 1 2 (0)". */
    box-shadow:
        inset -1px -2px 3px -1px rgb(0 0 0 / 12%),
        inset -1px -2px 2px -1px rgb(0 0 0 / 24%);
}

#guesses .link.email ~ .callsign {
    /* If link is not clickable, points will cast shadow on us and link */
    box-shadow: none;
}

/* INFO BOX -- scoring slider */
#guesses .points {
    grid-area: points;
    width: 150px;
    justify-self: center;
    align-self: end;
    box-shadow: none;
}

#guesses .link.email ~ .points {
    /* if link is not clickable, we will cast a shawow on link and callsign */
    box-shadow:
        0 0 1px 1px rgb(0 0 0 / 12%),
        2px 0 3px 0 rgb(0 0 0 / 24%);
}

#guesses .toggle-option + label {
    aspect-ratio: 1/1;
    height: 25px;
    background-size: contain;
}

#guesses .toggle-option + label:hover {
    background-color: var(--primary-dark);
}

/* None */
#guesses .points.none .slider {
    background-color: var(--secondary-light);
}

#guesses .toggle-option[value="none"] + label {
    background-image: url("/icons/hand-thumbs-down.svg");
}

/* Correct */
#guesses .toggle-option[value="correct"] + label {
    background-image: url("/icons/hand-thumbs-up.svg");
}

/* Bonus */
#guesses .points.bonus .slider {
    background:
        linear-gradient(
            114deg,
            rgb(221 192 36 / 100%) 0%,
            rgb(252 255 78 / 100%) 28%,
            rgb(221 192 36 / 100%) 37%,
            rgb(252 255 78 / 100%) 100%
        );
}

#guesses .toggle-option[value="bonus"] + label {
    background-image: url("/icons/award.svg");
}

/* GUESS TEXT */
#guesses .text {
    grid-area: text;
    align-self: center;
    border-left: 3px solid #626262;
    padding: 0 11px;
    margin: 8px 0;
}
