/* -------------------- *\
   HEADER NAV HIGHLIGHT
\* -------------------- */
#nav-twsf {
    background-color: var(--primary-light);
    box-shadow: inset 0 0 9px var(--primary-dark);
    color: white !important;
}

/* ------------------- *\
   TITLE BAR > filters
\* ------------------- */
#filter { width: 200px; }
#filter label { font-weight: bold; }

/* ------------ *\
   GUESSES CARD
\* ------------ */
#guesses { margin: 8px 50px; }
#guesses:empty { min-height: 150px; }

/* Each guess row */
#guesses .row-container {
    display: grid;
    grid-template-columns: [info] min-content [text];
    align-items: center;
    box-shadow:
        0 1px 3px rgb(0 0 0 / 12%),
        0 1px 2px rgb(0 0 0 / 24%);
}

#guesses .row-container:hover {
    background-color: aliceblue;
}

/* INFO BOX */
#guesses .info {
    grid-area: info;
    position: relative;
    left: -10px;
    height: 60px;
    width: min-content;
    border: 2px solid var(--secondary-dark);
    background-color: white;
    display: grid;
    grid-template:
        "call   link" auto
        "points link" auto
        / min-content 60px;
}

/* INFO BOX -- callsign */
#guesses .callsign {
    grid-area: call;
    margin: 0;
    text-align: center;
    z-index: 0; /* allow link shadow above */
}

/* INFO BOX -- scoring slider */
#guesses .points {
    grid-area: points;
    width: 150px;
    justify-self: center;
    align-self: end;
    z-index: 0; /* allow link shadow above */
}

#guesses .toggle-option + label {
    aspect-ratio: 1/1;
    height: 25px;
    background-size: contain;
}

/* None */
#guesses .points.none .slider {
    background-color: var(--secondary-light);
}

#guesses .toggle-option[value="none"] + label {
    background-image: url("/icons/hand-thumbs-down.svg");
}

/* Correct */
#guesses .toggle-option[value="correct"] + label {
    background-image: url("/icons/hand-thumbs-up.svg");
}

/* Bonus */
#guesses .points.bonus .slider {
    background:
        linear-gradient(
            114deg,
            rgb(221 192 36 / 100%) 0%,
            rgb(252 255 78 / 100%) 28%,
            rgb(221 192 36 / 100%) 37%,
            rgb(252 255 78 / 100%) 100%
        );
}

#guesses .toggle-option[value="bonus"] + label {
    background-image: url("/icons/award.svg");
}

/* INFO BOX -- Link buttons */
#guesses .link {
    grid-area: link;
    background-repeat: no-repeat;
    background-size: 80%, 40%;
    background-position: center;
    background-color: var(--primary-light);
    box-shadow:
        0 0 1px 1px rgb(0 0 0 / 12%),
        -2px 0 3px 0 rgb(0 0 0 / 24%);
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    z-index: 1; /* Shadow above points/callsign */
}

#guesses .link.tweet { background-image: url("/icons/twitter.svg"); }

#guesses .link.twitter-dm {
    background-image: url("/icons/envelope-paper.svg"), url("/icons/twitter.svg");
    background-position: center, 50% 22%;
}

#guesses .link.email {
    background-image: url("/icons/envelope-paper.svg");
    box-shadow: none;
    filter: brightness(118%) saturate(37%);
    cursor: default;
}

#guesses .link.email:hover {
    background-color: var(--primary-light);
}

#guesses .link.discord { background-image: url("/icons/discord.svg"); }

/* GUESS TEXT */
#guesses .text {
    grid-area: text;
    align-self: center;
    border-left: 3px solid #626262;
    padding: 0 11px;
    margin: 8px 0;
}
